<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>View Contacts</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        

        <header>
            <nav></nav>
        </header>
        <main>
            <div class="container">
                <hr>
                <h1>List of Contacts</h1>
                <hr>
                <div>
                    <div class="row" id="contacts">
                    </div>
                </div>
            </div>

            <div id="editContactModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Contact</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
            
                        <div class="modal-body">
                            <form id="editForm" method="POST">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input class="form-control" name="firstName" id="firstName">
                                </div>
            
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input class="form-control" name="lastName" id="lastName">
                                </div>
            
                                <div class="form-group">
                                    <label for="birthday">Birthday</label>
                                    <input class="form-control" name="birthday" id="birthday">
                                </div>

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" name="email" id="email">
                                </div>

                                <div class="form-group">
                                    <label for="favoriteFood">Favorite Food</label>
                                    <input class="form-control" name="favoriteFood" id="favoriteFood">
                                </div>
            
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <aside>

        </aside>
        <footer>

        </footer>
        <script src="../app.js" async defer></script>
    </body>
</html>